.login-container {
  /*border: 1px solid #80808075;*/
  padding: 4rem;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.login-title {
  font-size: 1.5rem;
  text-align: center;
}
