.students-container {
}

.new-student-container {
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.student-general-info {
  display: flex;
  align-items: center;
}

.student-general-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-icon {
  margin-right: 0.8rem;
}

.detail-icon {
  cursor: pointer;
}

.global-button {
  background-color: #337dbc;
  border: none;
  color: white;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.title {
  font-family: 'Barlow', sans-serif;
  font-size: 1.3rem;
}
