<div class="title-container">
  <h4 class="mb-3 ml-2 title">Alumnos</h4>
</div>


<div class="row m-3 new-student-container">
  <button class="btn btn-sm global-button" data-toggle="modal" data-target="#addModal">Nuevo alumno</button>
</div>
<div class="row students-container m-3">
  <div class="col-12 col-sm-6 col-md-6 mb-3">
    <ul class="list-group">
      <li *ngFor="let student of students" class="list-group-item student-general-info-container">
        <div class="student-general-info">
          <i class="fas fa-user student-icon"></i>
          <span>{{student.first_name}} {{student.last_name}} {{student.last_name_second}}</span>
        </div>
        <i class="fas fa-info-circle detail-icon" (click)="studentDetail(student.id)"></i>
      </li>
    </ul>
  </div>
  <div class="col-12 col-sm-6 col-md-6" *ngIf="!!selectedStudent">
    <app-student-detail (getStudents)="getStudents()" (closeCardEmitter)="closeCard()" [selectedStudent]="selectedStudent"></app-student-detail>
  </div>
</div>



<!--MODAL-->
<div class="modal fade" id="addModal" #childModal tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h4 class="modal-title" id="addModalLabel">
          Nuevo alumno
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addForm" #form="ngForm">

          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label for="name-control">Nombre alumno</label>
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       id="name-control"
                       formControlName="first_name"
                       aria-describedby="name-control-help"
                       placeholder="Nombre alumno">
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label for="name-control">Primer apellido</label>
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       id="last-name-control"
                       formControlName="last_name"
                       aria-describedby="name-control-help"
                       placeholder="Primer apellido">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label for="last-second-control">Segundo apellido</label>
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       id="last-second-control"
                       formControlName="last_name_second"
                       aria-describedby="name-control-help"
                       placeholder="Segundo apellido">
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label for="email-control">Correo</label>
                <input type="email"
                       autocomplete="off"
                       class="form-control"
                       formControlName="email"
                       id="email-control"
                       placeholder="Correo electronico">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label for="phone-control">Teléfono</label>
                <input type="email"
                       autocomplete="off"
                       class="form-control"
                       formControlName="phone"
                       id="phone-control"
                       placeholder="Teléfono">
              </div>

            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label for="birth-control">Fecha de nacimiento</label>
                <input type="date"
                       autocomplete="off"
                       class="form-control"
                       formControlName="birth_date"
                       id="birth-control"
                       placeholder="Fecha de nacimiento">
              </div>
            </div>
          </div>



        </form>

        <!--<div class="fa-3x spinner-container" *ngIf="creatingRepository">-->
          <!--<i class="fas fa-spinner fa-pulse spinner-icon"></i>-->
        <!--</div>-->

        <!--<div class="alert alert-danger error-dialog" role="alert" *ngIf="error">-->
          <!--{{'repositories.createRepository.error' | translate}}-->
        <!--</div>-->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
        <button type="button"
                [disabled]="addForm.invalid"
                class="btn global-button btn-sm" (click)="createStudent()">Crear</button>
      </div>
    </div>
  </div>
</div>

