.button-container {
  display: flex;
  justify-content: flex-end;
}

.global-button {
  background-color: #337dbc;
  border: none;
  color: white;
}

.card-name {
  font-size: 1rem;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.close-button {
  cursor: pointer;
}
