<div class="card" style="width: 100%;">
  <div class="card-body">
    <div class="title-container">
      <h5 class="card-title card-name">{{selectedStudent.first_name}} {{selectedStudent.last_name}} {{selectedStudent.last_name_second}}</h5>
      <i class="fas fa-times-circle close-button" (click)="closeCard()"></i>
    </div>
    <h6 class="card-subtitle mb-2 text-muted">Correo: {{selectedStudent.email}}</h6>
    <p class="card-text">Telefono: {{selectedStudent.phone}}</p>
    <p class="card-text">Fecha de nacimiento: {{selectedStudent.birth_date | date:'dd/MM/yyy'}}</p>

    <div class="button-container mt-5">
      <button type="button" class="btn btn-danger btn-sm" (click)="deleteStudent()">Eliminar</button>
      <button type="button" class="btn ml-2 btn-sm global-button" data-toggle="modal" data-target="#updateModal">Actualizar</button>
    </div>
  </div>
</div>




<!--MODAL-->
<div class="modal fade" id="updateModal" #childModal tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h4 class="modal-title" id="addModalLabel">
          Actualizar alumno
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateForm" #form="ngForm">

          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label for="name-control">Nombre alumno</label>
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       id="name-control"
                       formControlName="first_name"
                       aria-describedby="name-control-help"
                       [value]="selectedStudent.first_name"
                       placeholder="Nombre alumno">
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label for="name-control">Primer apellido</label>
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       id="last-name-control"
                       formControlName="last_name"
                       aria-describedby="name-control-help"
                       [value]="selectedStudent.last_name"
                       placeholder="Primer apellido">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label for="last-second-control">Segundo apellido</label>
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       id="last-second-control"
                       formControlName="last_name_second"
                       aria-describedby="name-control-help"
                       [value]="selectedStudent.last_name_second"
                       placeholder="Segundo apellido">
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label for="email-control">Correo</label>
                <input type="email"
                       autocomplete="off"
                       class="form-control"
                       formControlName="email"
                       id="email-control"
                       [value]="selectedStudent.email"
                       placeholder="Correo electronico">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label for="phone-control">Teléfono</label>
                <input type="email"
                       autocomplete="off"
                       class="form-control"
                       formControlName="phone"
                       id="phone-control"
                       [value]="selectedStudent.phone"
                       placeholder="Teléfono">
              </div>

            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <label for="birth-control">Fecha de nacimiento</label>
                <input type="date"
                       autocomplete="off"
                       class="form-control"
                       formControlName="birth_date"
                       id="birth-control"
                       [value]="selectedStudent.birth_date"
                       placeholder="Fecha de nacimiento">
              </div>
            </div>
          </div>



        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
        <button type="button"
                [disabled]="updateForm.invalid"
                class="btn global-button btn-sm" (click)="updateStudent()">Actualizar</button>
      </div>
    </div>
  </div>
</div>
